body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blanchedalmond;
  color:black;
}

h1 {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px;
  grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px;
  cursor: pointer;
  position: relative;
  border-style: solid;
  border-color: rgb(169, 169, 71);
  border-width: medium;
}

.tile {
  color: currentColor;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: rgb(169, 169, 71);
  border-width: medium;
}


